# https://docs.astral.sh/uv/configuration/
[tool.uv.workspace]
members = ["basic/*"]

[dependency-groups]
dev = ["ruff>=0.14.9", "ty>=0.0.2"]

# https://docs.astral.sh/ruff/configuration/
[tool.ruff.lint]
select = [
  # Pyflakes
  "F",
  # pycodestyle
  "E",
  # pycodestyle warnings
  "W",
  # isort
  "I",
  # pep8-naming
  "N",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-comprehensions
  "C4",
  # flake8-quotes
  "Q",
  # flake8-simplify
  "SIM",
]
